<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyWebProject</display-name>
  <servlet>
    <servlet-name>createOrUpdateCompany</servlet-name>
    <jsp-file>/jsp/createOrUpdateCompany.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>createOrUpdateCompany</servlet-name>
    <url-pattern>/createcompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>generalErrorPage</servlet-name>
    <jsp-file>/jsp/generalErrorPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>generalErrorPage</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/showCompanies.jsp</welcome-file>
  </welcome-file-list>
</web-app>